.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    height: 100%;
}

.formLabel {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 5px;
}

.required {
    margin-left: 10px;
    color: red;
}

.formInput {
    width: 260px;
    height: 20px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 3px;
    background-color:white;;
}

.formInput::placeholder {
    padding: 4px;
    color: rgb(153, 142, 142);
}

.formInput:focus,
.formInput:hover {
    border: 1px solid blue;
}

.addContactBtn {
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 2px;
    height: 25px;
}

.addContactBtn:hover,
.addContactBtn:focus {
    border: 1px solid blue;
    background-color: lightgrey;
    border-radius: 25px;
}